/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require chosen
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);

body {
  width: 900px;
  height: auto;
  margin: 0 auto;
  background: #ecf0f1;
  font-family: 'Libre Baskerville', serif;
  padding: 20px;
}

input[type=submit] {
  border: none;
  display: block;
  background: #bdc3c7;
  height: 50px;
  width: auto;
  padding: 15px;
  padding-top:12px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  margin: 20px 0;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover{
  background: #136899;
}

input[type=text],
input[type=password]  {
  width: 100%; 
  height: 60px;
  margin: 10px 10px 10px 0;
  font-size: 20px;
  padding-left: 15px;
  background: #fff;
  border: none;
  color: #136899;
  outline: none;
  border-bottom: 2px solid #fff;
  border-radius: 5px
}

button[type=button] {
  border: none;
  display: block;
  background: #bdc3c7;
  height: 60px;
  width: auto;
  padding: 15px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  margin: 20px 10px;
  cursor: pointer;
  float: left;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

button[type=button]:hover {
  background: #136899;
}

.feed {
  display: block;
  width: 900px;
  height: auto;
  margin: auto;
  clear: both;
  margin-top: 100px;
  padding: 20px;
}

h1 {
  color: #136899 ;
}

h2 {
  line-height: 14px;
}

.name {

}

.form {
  padding-top:30px;
  width: 400px;
  margin: auto;
}

.hidden {
  display: none;
}

.paper {
  clear: both;
  margin-top: 200px;
  width: 100%;
  height: 100%;
}

.paper button[type=button]{
  float: left;
  background: url('http://cdn.flaticon.com/png/256/40151.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  margin: 0 5px 20px 0;
  padding: 10px;
}

#topbar-div {
  width: 80%;
  float: left;
}

.pdf {
  width: 100%;
  min-height: 80vh;
  border: 2px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}

#landing-div {
  text-align: center;
}

#login-div {
  float: right;
}

#login-button {
  margin-left: auto;
  margin-right: auto;
}

.signup-button {
  float: left;
}

.title {
  font-size: 20px;
  font-weight: bolder;
}

.paper-icon {
  margin-right: 10px;
}
