<!DOCTYPE html>
<html>
<head>
  <title>Collegium</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body> 
  <h1>Collegium <img src="http://cdn.flaticon.com/png/256/43298.png" height="40" width="40"></h1> 
  <h2>The student network.</h2>
  <%= yield %>
</body>
</html>
